<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <!-- 外层元素  确定位置 做布局 -->
  <div id="header">
    <!-- 内层容器  确定位置  包裹页面中用户能看到的页面元素 -->
    <div id="nav">
      <!-- logo -->
      <h1>个人博客</h1>
      <!-- 导航菜单 -->
      <ul>
        <li><a href="">网站首页</a></li>
        <li><a href="">文章列表</a></li>
        <li><a href="">我的相册</a></li>
        <li><a href="">留言</a></li>
        <li><a href="">关于我</a></li>
        <li><a href="">发表博客</a></li>
      </ul>
      <!-- 登录注册 -->
      <div>
        <a href="" id="login">登录</a>
        <a href="" id="register">注册</a>
      </div>
    </div>
  </div>


  <div id="main">
    <!-- 上半部分 轮播图  侧边图片 -->
    <div>
      <!-- 左侧轮播图 -->
      <ul class="fader">
        <!-- 每一张轮播图 -->
        <!-- <li class="slide">
          <img src="../static/images/banner01.jpg" alt="">
          <span>爬虫微课5小时 python学习路线!</span>
        </li> -->
        <!-- 左右箭头 -->
        <li>
          <div class="prev"> &lt; </div>
          <div class="next"> &gt; </div>
        </li>
      </ul>
      <!-- 右侧边图片 -->
      <div class="toppic">
        <div>
          <a href="#">
            <img src="../static/images/toppic01.jpg" alt="">
            <p>Linux升级py3,安装pip,svn</p>
            <span>Linux</span>
          </a>
        </div>
        <div>
          <a href="#">
            <img src="../static/images/toppic02.jpg" alt="">
            <p>精通python编程——python深入浅出教程</p>
            <span>Python</span>
          </a>
        </div>
      </div>
      <!-- 清除浮动 -->
      <div class="clear"></div>
    </div>
    <!-- 下半部分 博客列表 -->
    <div class="blogsbox">
      <!-- 每一条博客 -->
      <!-- <div class="blogs"> -->
        <!-- 博客标题 -->
        <!-- <h3>Python语言在人工智能(AI)中的优势</h3> -->
        <!-- 博客图片 -->
        <div>
          <!-- <img src="../static/images/a.jpg" alt=""> -->
        </div>
        <!-- 博客文章 -->
        <!-- <p>本文探讨了Python语言在AI领域的优势与运用。 谁会成为AI 和大数据时代的第一开发语言? 这本已是一个不需要争论的问题。如果说三年前,Matlab、Scala、R、Java...</p> -->
        <!-- 信息列表 -->
        <!-- <ul>
          <li>皮皮璐</li>
          <li class="lmname">学无止境</li>
          <li class="timer">2020-5-13</li>
          <li class="view">34567</li>
          <li class="like">9999</li>
        </ul>
      </div> -->
    </div>
  </div>


  <div id="footer">
    Desgin by
    <a href="">个人博客</a>
    <a href="">备XXXXXXXXXXXXXX-1</a>
  </div>
<script src="..\static\js\jquery.min.js"></script>
<script src="..\static\js\fader.data.js"></script>
<script src="..\static\js\blogs.data.js"></script>
<script src="..\static\js\index.js"></script>
</body>
</html>